<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body cardbodyHeight d-flex align-items-center h5">
              4 Categories
            </div>
            <div class="card-footer ">
                View Details
                <button type="button" class="btn btn-light"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body cardbodyHeight d-flex align-items-center h5">
              4 Categories
            </div>
            <div class="card-footer ">
                View Details
                <button type="button" class="btn btn-light"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body cardbodyHeight d-flex align-items-center h5">
              4 Categories
            </div>
            <div class="card-footer ">
                View Details
                <button type="button" class="btn btn-light"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body cardbodyHeight d-flex align-items-center h5">
              4 Categories
            </div>
            <div class="card-footer ">
                View Details
                <button type="button" class="btn btn-light"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="card">
            <div class="card-header h5">
                Rents
            </div>
            <div class="card-body ">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
           
        </div>
    </div>
    
</div>
