<div class="card">
    <div class="card-header d-flex justify-content-between ">
        <p class="mb-0">{{'Publishers List'|titlecase}}</p>
        <button type="button" class="btn btn-primary btn-sm" (click)="addModal(lgModal)"><i class="fa fa-plus"></i>
            Add</button>
    </div>
    <div class="card-body">
        <div class="border d-flex justify-content-end">
            <div class="input-group my-3 w-25 mr-3">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="searchText">
                <div class="input-group-append">
                    <span class="input-group-text"> <i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered ">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let publisher of model.publishersList |filter:[searchText];index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{publisher.NAME}}</td>
                    <td>{{publisher.PHONE}}</td>
                    <td>{{publisher.ADDRESS}}</td>
                    <td>{{publisher.DESCRIPTION}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-dark btn-sm m-1" (click)="viewPublisherDetails(lgModal,publisher)"><i
                                class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-warning btn-sm m-1"
                            (click)="updatePublisherDetails(lgModal,publisher)"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-sm m-1" (click)="onClickPublisherDelete(deleteModal,publisher)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{title|titlecase}}</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form   #bookForm="ngForm">
                    <table class="table table-bordered">

                        <tr class="text-left">
                            <th scope="col">Name</th>
                            <td><input class="form-control" type="text" name="PUBLISHER_NAME"
                                    [(ngModel)]="model.selectedPublisher.NAME" [disabled]="btnShowCon==1" required></td>
                        </tr>
                        <tr class="text-left">
                            <th scope="col">Phone</th>
                            <td><input class="form-control" type="text" name="PUBLISHER_PHONE"
                                    [(ngModel)]="model.selectedPublisher.PHONE" [disabled]="btnShowCon==1"></td>
                        </tr>
                        <tr class="text-left">
                            <th scope="col">Address</th>
                            <td><textarea class="form-control" type="text" name="PUBLISHER_ADDRESS"
                                    [(ngModel)]="model.selectedPublisher.ADDRESS" [disabled]="btnShowCon==1"></textarea>
                            </td>
                        </tr>
                        <tr class="text-left">
                            <th scope="col">Description</th>
                            <td><textarea class="form-control" type="text" name="PUBLISHER_DESCRIPTION"
                                    [(ngModel)]="model.selectedPublisher.DESCRIPTION" [disabled]="btnShowCon==1"></textarea>
                            </td>
                        </tr>
                        <tr class="text-right">
                            <th scope="col " colspan="2">
                                <button *ngIf="btnShowCon==2" type="button" class="btn btn-success btn-sm" (click)="onClickAddBtn(lgModal)" [disabled]="!bookForm.valid">Add</button>
                                <button *ngIf="btnShowCon==3" type="button" class="btn btn-warning btn-sm" (click)="onClickUpdateBtn(lgModal)" [disabled]="!bookForm.valid">Update</button>
                            </th>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{title|titlecase}}</h4>
                <button type="button" class="close pull-right" (click)="deleteModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do want to delete it</p>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-danger mr-1" (click)="onClickDeleteBtn(deleteModal)">Yes</button>
                    <button type="button" class="btn btn-primary" (click)="deleteModal.hide()">No</button>
                </div>
            </div>
        </div>
    </div>
</div>