
<div class="d-flex flex-column">
    <a class="p-3 text-white" routerLink="/dashboard"  routerLinkActive="active"><i class="fa fa-dashboard"></i> Dashboard</a>
    <a class="p-3 text-white" routerLink="/books"  routerLinkActive="active"><i class="fa fa-book"></i> Books</a>
    <a class="p-3 text-white" routerLink="/sells"  routerLinkActive="active"><i class="fa fa-shopping-bag"></i> Sells</a>
    <a class="p-3 text-white" routerLink="/customers"  routerLinkActive="active"><i class="fa fa-users"></i> Members</a>
    <a class="p-3 text-white" href=""><i class="fa fa-cogs"></i> Settings</a>
  </div>