<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Book Lists</div>
            <div class="card-body">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Book Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of model.bookList;index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{book.BOOK_NAME}}</td>
                            <td>{{book.PRICE}}</td>
                            <td>{{book.QUANTITY}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Purches book</div>
            <div class="card-body">
                <form>
                    <table class="table table-bordered mb-0">
                        <tr class="text-left">
                            <th scope="col">Book Name</th>
                            <td colspan="3"><app-auto-complete-input [data]="model.bookList" [selectedData]="model.selectedAddItem" [field]="'BOOK_NAME'" (choose)="onChooseList($event)"></app-auto-complete-input></td>
                        </tr>
                        <tr class="text-left">
                            <th scope="col">Price</th>
                            <td><input class="form-control" type="text" name="selectedAddItem.PRICE" [(ngModel)]="model.selectedAddItem.PRICE"></td>
                            <th scope="col">Quantity</th>
                            <td><input class="form-control" type="text" name="selectedAddItem.QUANTITY" [(ngModel)]="model.selectedAddItem.QUANTITY"></td>
                        </tr>
                        <tr class="">
                            <th scope="col text-right" colspan="2">
                               <button type="button" class="btn btn-success btn-sm" (click)="onClickSelectedAddBtn()"><i class="fa fa-plus"></i>Add</button>
                           </th>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Purches book</div>
            <div class="card-body">
                <form>
                    <table class="table table-bordered mb-0">
                        <tr class="text-left">
                            <th scope="col">Customer Name</th>
                            <td><input class="form-control" type="text" placeholder="Default input"
                            name="selectedCustomer.NAME" [(ngModel)]="model.selectedCustomer.NAME"></td>
                        </tr>
                        <tr class="text-left">
                            <th scope="col">Mobile number</th>
                            <td><app-auto-complete-input [data]="model.customerList" [selectedData]="model.selectedCustomer" [field]="'PHONE'" (choose)="onChooseCustomer($event)"></app-auto-complete-input></td>
                        </tr>
                        <tr class="text-left">
                            <th scope="col">Address</th>
                            <td><input class="form-control" type="text" placeholder="Default input" name="selectedCustomer.ADDRESS" [(ngModel)]="model.selectedCustomer.ADDRESS"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Purchesd Books</div>
            <div class="card-body">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Book Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of model.bookQueueList;index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{book.BOOK_NAME}}</td>
                            <td [style.width]="'100px'">{{book.PRICE}}</td>
                            <td [style.width]="'100px'"><input class="form-control" type="text" name="ql.QUANTITY" [(ngModel)]="book.QUANTITY" (change)="queueBookQuantity(book)"></td>
                            <td>{{book.PRICE*book.QUANTITY}}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-dark btn-sm m-1"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-danger btn-sm m-1" (click)="removeFromBookQueueList(book)"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Transaction</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <table class="table table-bordered mb-0">
                                <tr class="text-left">
                                    <th scope="col">Commission</th>
                                    <td><input class="form-control" type="text" name="model.commission" [(ngModel)]="model.commission" (change)="calculateTransaction()"></td>
                                </tr>
                                <tr class="text-left">
                                    <th scope="col" >Total</th>
                                    <td >{{model.totalWithoutCommission}}</td>
                                </tr>
                                <tr class="text-left">
                                    <th scope="col" >Total Commission</th>
                                    <td >{{model.totalCommission}}</td>
                                </tr>
                                <tr class="text-left">
                                    <th scope="col">Total</th>
                                    <td>{{this.model.totalWithCommission}}</td>
                                </tr>
                                <tr class="text-left">
                                    <th scope="col">Cash</th>
                                    <td><input class="form-control" type="text" name="model.cash" [(ngModel)]="model.cash" (change)="calculateTransaction()"></td>
                                </tr>
                                <tr class="text-left">
                                    <th scope="col">Return</th>
                                    <td>{{model.returnTk}}</td>
                                </tr>
                                <tr class="text-right">
                                    <th scope="col" colspan="2">
                                        <button type="button" class="btn btn-dark btn-sm m-1" (click)="onClickClearBtn()"><i class="fa fa-vcard"></i>Clear</button>
                                        <button type="button" class="btn btn-danger btn-sm m-1" (click)="onClickTransactionBtn()"><i class="fa fa-vcard"></i>Transaction</button>
                                    </th>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>

